.sprite-accordion{
  background-image: url(../sprite.png);
  background-position: -52px 0px;
}
.sprite-audio{
  background-image: url(../sprite.png);
  background-position: -104px -260px;
}
.sprite-banner{
  background-image: url(../sprite.png);
  background-position: 0px -52px;
}
.sprite-blog{
  background-image: url(../sprite.png);
  background-position: -52px -52px;
}
.sprite-briefcase{
  background-image: url(../sprite.png);
  background-position: -104px 0px;
}
.sprite-button{
  background-image: url(../sprite.png);
  background-position: -104px -52px;
}
.sprite-callout{
  background-image: url(../sprite.png);
  background-position: 0px -104px;
}
.sprite-carousel{
  background-image: url(../sprite.png);
  background-position: -52px -104px;
}
.sprite-catalog-terms{
  background-image: url(../sprite.png);
  background-position: -104px -104px;
}
.sprite-code{
  background-image: url(../sprite.png);
  background-position: -156px 0px;
}
.sprite-contact-form-2{
  background-image: url(../sprite.png);
  background-position: -156px -52px;
}
.sprite-contact-form{
  background-image: url(../sprite.png);
  background-position: -156px -104px;
}
.sprite-contact{
  background-image: url(../sprite.png);
  background-position: 0px -156px;
}
.sprite-conversation{
  background-image: url(../sprite.png);
  background-position: -52px -156px;
}
.sprite-counter{
  background-image: url(../sprite.png);
  background-position: -104px -156px;
}
.sprite-divider{
  background-image: url(../sprite.png);
  background-position: -156px -156px;
}
.sprite-embed{
  background-image: url(../sprite.png);
  background-position: -208px 0px;
}
.sprite-fancy-header{
  background-image: url(../sprite.png);
  background-position: -208px -52px;
}
.sprite-fancy-image{
  background-image: url(../sprite.png);
  background-position: -208px -104px;
}
.sprite-fancy-list{
  background-image: url(../sprite.png);
  background-position: -208px -156px;
}
.sprite-fancy-quote{
  background-image: url(../sprite.png);
  background-position: 0px -208px;
}
.sprite-flickr{
  background-image: url(../sprite.png);
  background-position: -52px -208px;
}
.sprite-fonticon{
  background-image: url(../sprite.png);
  background-position: -104px -208px;
}
.sprite-grid{
  background-image: url(../sprite.png);
  background-position: -156px -208px;
}
.sprite-html{
  background-image: url(../sprite.png);
  background-position: -208px -208px;
}
.sprite-icon-box{
  background-image: url(../sprite.png);
  background-position: -260px 0px;
}
.sprite-icon-list{
  background-image: url(../sprite.png);
  background-position: -260px -52px;
}
.sprite-image-frame{
  background-image: url(../sprite.png);
  background-position: -260px -104px;
}
.sprite-image-slider{
  background-image: url(../sprite.png);
  background-position: -260px -156px;
}
.sprite-image{
  background-image: url(../sprite.png);
  background-position: -260px -208px;
}
.sprite-js{
  background-image: url(../sprite.png);
  background-position: 0px -260px;
}
.sprite-letter{
  background-image: url(../sprite.png);
  background-position: -52px -260px;
}
.sprite-list{
  background-image: url(../sprite.png);
  background-position: 0px 0px;
}
.sprite-map{
  background-image: url(../sprite.png);
  background-position: -156px -260px;
}
.sprite-message-box{
  background-image: url(../sprite.png);
  background-position: -208px -260px;
}
.sprite-message{
  background-image: url(../sprite.png);
  background-position: -260px -260px;
}
.sprite-page-header{
  background-image: url(../sprite.png);
  background-position: -312px 0px;
}
.sprite-pie-chart{
  background-image: url(../sprite.png);
  background-position: -312px -52px;
}
.sprite-portfolio-tags{
  background-image: url(../sprite.png);
  background-position: -312px -104px;
}
.sprite-portfolio{
  background-image: url(../sprite.png);
  background-position: -312px -156px;
}
.sprite-price-table{
  background-image: url(../sprite.png);
  background-position: -312px -208px;
}
.sprite-product{
  background-image: url(../sprite.png);
  background-position: -312px -260px;
}
.sprite-products{
  background-image: url(../sprite.png);
  background-position: 0px -312px;
}
.sprite-progress-bars{
  background-image: url(../sprite.png);
  background-position: -52px -312px;
}
.sprite-raw-html{
  background-image: url(../sprite.png);
  background-position: -104px -312px;
}
.sprite-row{
  background-image: url(../sprite.png);
  background-position: -156px -312px;
}
.sprite-shop-tags{
  background-image: url(../sprite.png);
  background-position: -208px -312px;
}
.sprite-shop{
  background-image: url(../sprite.png);
  background-position: -260px -312px;
}
.sprite-slider-h{
  background-image: url(../sprite.png);
  background-position: -312px -312px;
}
.sprite-slider-v{
  background-image: url(../sprite.png);
  background-position: -364px 0px;
}
.sprite-slider{
  background-image: url(../sprite.png);
  background-position: -364px -52px;
}
.sprite-social{
  background-image: url(../sprite.png);
  background-position: -364px -104px;
}
.sprite-sticker{
  background-image: url(../sprite.png);
  background-position: -364px -156px;
}
.sprite-sticky{
  background-image: url(../sprite.png);
  background-position: -364px -208px;
}
.sprite-tabs{
  background-image: url(../sprite.png);
  background-position: -364px -260px;
}
.sprite-tag-1{
  background-image: url(../sprite.png);
  background-position: -364px -312px;
}
.sprite-team{
  background-image: url(../sprite.png);
  background-position: 0px -364px;
}
.sprite-testimonials{
  background-image: url(../sprite.png);
  background-position: -52px -364px;
}
.sprite-text-block{
  background-image: url(../sprite.png);
  background-position: -104px -364px;
}
.sprite-text{
  background-image: url(../sprite.png);
  background-position: -156px -364px;
}
.sprite-twitter{
  background-image: url(../sprite.png);
  background-position: -208px -364px;
}
.sprite-video{
  background-image: url(../sprite.png);
  background-position: -260px -364px;
}
.sprite-visibility{
  background-image: url(../sprite.png);
  background-position: -312px -364px;
}
.sprite-visiblity{
  background-image: url(../sprite.png);
  background-position: -364px -364px;
}
